<!DOCTYPE html>

<link rel="import" href="note_view.html">
<link rel="import" href="auth_submit.html">

<polymer-element name="x-notebook-element">
  <template>
    <style>
      * {
        list-style-type: none;
      }
    </style>
     
    <ul>
      <template repeat="{{note in notes}}">
        <li is="x-note-element" note="{{note}}" \
          on-remove-from-list="{{removeFromNotebook}}" \
          on-delete-from-database="{{deletePermanently}}">
        </li>
      </template>
    </ul>
    
    <template if="{{notes.length > 0}}">
      <input type="submit" value="Clear Notes" on-click="{{clearNotes}}">
      <input type="submit" value="Save Notes" on-click="{{saveNotes}}">
      <input type="submit" value="Delete Notes" on-click="{{deleteNotes}}">
      <br />
      <br />
    </template>
    
    Title: <input type="text" value="{{title}}" class="title">
    Content: <input type="text" value="{{content}}" class="content">
    <br />
    <input type="submit" value="Submit" on-click="{{addNote}}">
    
    <input type="submit" value="Start Camera" on-click="{{startCamera}}">
  </template>

  <script type="application/dart" src="notebook_view.dart"></script>
</polymer-element>
