<!DOCTYPE html>

<link rel="import" href="note_view.html">

<polymer-element name="x-notebook-element">
  <template>
    <style>
      :scope {
        list-style-type: none;
      }
    </style>
        
    <ul id="notesContainer">
      <template repeat="{{notes}}">
        <li is="x-note-element" note="{{}}" on-remove-from-list="{{removeFromNotebook}}" on-delete-from-database="{{deletePermanently}}">
        </li>
      </template>
    </ul>
    
    <template if="{{notes.length > 0}}">
      <input type="submit" value="Sort by Title" on-click="{{sortByTitle}}">
      <input type="submit" value="Sort by Date" on-click="{{sortByDate}}">
      <input type="submit" value="Sort by Size" on-click="{{sortBySize}}">
      <input type="submit" value="Clear Notes" on-click="{{clearNotes}}">
      <input type="submit" value="Save Notes" on-click="{{saveNotes}}">
      <input type="submit" value="Delete Notes" on-click="{{deleteNotes}}">
      <span>{{saveMessage}}</span>
      <br />
      <br />
    </template>
    
    Title:<br />
    <input type="text" value="{{title}}" class="title">
    <br />
    Content:<br />
    <textarea value="{{content}}" class="content"></textarea>
    <br />
    <input type="submit" value="Submit" on-click="{{addNote}}">
    
    <input type="submit" value="Start Camera" on-click="{{startCamera}}">
  </template>

  <script type="application/dart" src="notebook_view.dart"></script>
</polymer-element>
